.activity {
  position: relative;
  border-radius: 12px;
  padding-top: 48px;
}

.activity > img {
  position: absolute;
  top: 0;
  right: 24px;
  z-index: 0;
}

.work {
  background-color: var(--primary-light-red-a);
}

.play {
  background-color: var(--primary-soft-blue);
}

.study {
  background-color: var(--primary-light-red-b);
}

.exercise {
  background-color: var(--primary-lime-green);
}

.social {
  background-color: var(--primary-violet);
}

.selfcare {
  background-color: var(--primary-soft-orange);
}

.activityContent {
  background-color: var(--neutral-dark-blue);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.activityContent:hover{
  background-color: #34397b;
}

.now > span {
  display: block;
  font-weight: 300;
  font-size: 36px;
}

.now > span:first-of-type{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.activityContent > img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.old {
  align-self: flex-end;
}

.old > span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

@media (min-width: 900px){
  .activity{
    height: 90%;
  }

  .activityContent {
    flex-direction: column;
  }

  .old {
    align-self: flex-start;
    margin-top: 8px;
  }

  .now > span:first-of-type{
    margin-bottom: 24px;
  }
}