@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --primary-blue: hsl(246, 80%, 60%);
  --primary-light-red-a: hsl(15, 100%, 70%);
  --primary-light-red-b: hsl(348, 100%, 68%);
  --primary-soft-blue: hsl(195, 74%, 62%);
  --primary-lime-green: hsl(145, 58%, 55%);
  --primary-violet: hsl(264, 64%, 52%);
  --primary-soft-orange: hsl(43, 84%, 65%);
  --neutral-very-dark-blue: hsl(226, 43%, 10%);
  --neutral-dark-blue: hsl(235, 46%, 20%);
  --neutral-desaturated-blue: hsl(235, 45%, 61%);
  --neutral-pale-blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--neutral-very-dark-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 64px 0;
}

@media (min-width: 900px){
  body {
    align-items: center;
  }
}